body {
    font-family: 'Noto Sans', sans-serif;
}

.login-container {
    font-family: 'Noto Sans', sans-serif;
}

.mud-radio.mud-radio-checked {
    font-weight: bold;
}

input, button, label {
    font-family: 'Noto Sans', sans-serif;
}

/* Estilo do Erro */
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-opacity-50 {
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-white {
    background-color: white;
}

.shadow-lg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
    border-radius: 10px;
}

.max-w-sm {
    max-width: 400px;
}

.w-full {
    width: 100%;
}

.text-red-500 {
    color: #f56565;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.text-xl {
    font-size: 1.25rem;
}

.font-semibold {
    font-weight: 600;
}

.bg-dark {
    background-color: #0D051B;
    z-index: 1;
}
